@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d7d4d4;
  font-family: "Poppins", sans-serif;
}
.login_box {
  position: relative;
  min-width: 25%;
  /* min-height: 500px; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  align-items: center;
  background-color: #fcfcfc;
  border-radius: 0.5rem;
  box-shadow: #00000059 0px 5px 15px;
}
.login_box > h1 {
  font-size: 2.2rem;
}
.login_box > div > input {
  display: inline-block;
  width: 100%;
  border: none;
  outline: none;
  padding: 0.7rem;
  border-bottom: 1px solid gray;
}
.login_box > a {
  position: absolute;
  top: 52%;
  right: 14%;
  color: gray;
  font-size: 0.7rem;
}
.btn {
  width: 80%;
  margin-top: 2rem;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: 800;
  color: #fff;
  background: linear-gradient(90deg, #70e3fc 1%, #f94191 100%);
  border-radius: 1.1rem;
  border: none;
  transition: all 0.3s ease;
}
.btn:hover {
  cursor: pointer;
  color: #000;
}
.icons {
  display: flex;
  column-gap: 2rem;
}
.icons > .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  transition: all 0.5s ease;
}
.icons > .facebook {
  color: #1771e6;
  border: 1px solid #1771e6;
}
.icons > .facebook:hover {
  color: #fff;
  background-color: #1771e6;
  cursor: pointer;
}
.icons > .google {
  color: orange;
  border: 1px solid orange;
}
.icons > .google:hover {
  color: #fff;
  background-color: orange;
  cursor: pointer;
}
