@import "./global.css";

.passportBox{
    width: var(--width);
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    width: var(--width);
    padding-right: 3rem;
}
.passportBox > .passportLeft{
    width: 70%;
}
.passportLeft > h2{
    font-size: 2.8rem;
    letter-spacing: 1px;
    color: var(--blue);
    margin-bottom: 1rem;
    font-family: var(--poppinsExtra);
}
.passportLeft > p{
    opacity: 0.8;
    color: gray;
    font-family: var(--poppinsSemi);
    text-align: start;
    letter-spacing: 1px;
}
.passportRight > img{
    border-radius: 0.30rem;
    width: 320px;
}

@media screen and (max-width: 800px){
    .passportBox{
        width: 95%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 0;
    }
    .passportBox > .passportLeft{
        width: 70%;
    }
    .passportLeft > h2{
        font-size: 1.5rem;
        
    }
}