@import "./global.css";
.cardCreate {
  display: flex;
  justify-content: center;
  height: 180px;
  margin-top: 80px;
  margin-bottom: 80px;
}
.cardSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 20%;
  height: 80%;
  color: white;
  box-shadow: rgba(145, 153, 160, 0.2) 0px 8px 24px;
  align-items: center;
}
.headingTitle {
  text-align: center;
  margin: 0;
  color: rgb(8, 8, 116);
  font-size: 22px;
}
.paraTitle {
  text-align: center;
  margin: 0;
  opacity: 0.5;
  color: rgb(8, 8, 116);
  font-size: 14px;
}
@media (max-width: 520px) {
  .cardCreate {
    flex-wrap: wrap;
  }
  .cardSection {
    width: 70%;
    margin: 10px auto;
  }
}
@media all and (min-width: 521px) and (max-width: 760px) {
  .cardCreate {
    flex-wrap: wrap;
  }
  .cardSection {
    width: 40%;
    margin: 10px auto;
  }
}
